

{% extends "dventities/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


    <form action=""  method="post">
        <h2>Hub Details</h2>
        <div class="container">
            <table>
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
            {% endfor %}

            {{form.errors}}
            {% crispy form %} {{ form.id }}

        </div>

       <table>
           <tr> 
               <td>
               <h2 >Hub Satelite Details</h2>
               </td>
               <td>
                   <a class="" data-toggle="collapse"  href="#hub_satelite_formset"
	              aria-expanded="true"
	              aria-controls="collapseExample">
                      Hide / Show
                   </a>
       
               </td>
           </tr>  
       </table>



       <div  >
           {{ hub_satelite_formset.management_form|crispy }}

            <table class="collapse" id="hub_satelite_formset" >
            <thead>
                {% for form in hub_satelite_formset.forms %}
                    {% if forloop.first %}
                        {% for field in form %}
                            <th>{{ field.label_tag }}</th>
                        {% endfor %}
                    {% endif %}
            </thead>
            <tbody>
                <tr>            {{form.errors}}</tr>
                <tr>
                    {% for field in form %}
                        <td>{{ field }}{{field.errors}} </td>
                    {% endfor %}
		        <td>Edit</td>    
                </tr>
                 {% endfor %}
            </tbody>
            </table>


            <table>
            <tr><td> <h2 >Hub Key Fields</h2></td><td> <a class=""
	                                 data-toggle="collapse"
	                                 href="#hub_key_field_formset"
	                                 role="button"
	                                 aria-expanded="false"
	                                 aria-controls="collapseExample">
                                        Hide / Show
                                            </a>
       
             </td>
             </tr>  
             </table>




       <div>
           {{ hub_key_field_formset.management_form|crispy }}


           <table class="collapse" id="hub_key_field_formset" >
           <thead>
            {% for form in hub_key_field_formset.forms %}
            {% if forloop.first %}
                {% for field in form %}
                    <th>{{ field.label_tag }}</th>
                {% endfor %}
            {% endif %}
    </thead>
    <tbody>
            <tr>            {{form.errors}}</tr>
            <tr>
                {% for field in form %}
                    <td>{{ field }}</td>
                {% endfor %}
		    <td>Edit {{form.instance.id}}</td>    
            </tr>

        {% endfor %}
    
    </tbody>
</table>




    <input type="submit" name="save" value="Save" >
    <input type="submit" name="apply" value="Apply" >

</form>
</div>
</table>



{% endblock %}
